# Environments
venv/
env/
.env
.venv/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary files and uploads
uploads/
output/
*.enc
*.zip
*.txt

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store
